--
-- PostgreSQL database dump
--

\restrict gDcMsypRNENt2RQSLjKFoyzIHniqp0xOIvUHC3gxXUK0juUmDFX6XAkbtjvJcJ5

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: vertexlearn
--

CREATE TABLE public.courses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    instructor_id uuid,
    title character varying(200) NOT NULL,
    description text,
    category character varying(80),
    difficulty character varying(20),
    thumbnail_url text,
    price numeric(10,2) DEFAULT 0,
    status character varying(20) DEFAULT 'pending'::character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.courses OWNER TO vertexlearn;

--
-- Name: lectures; Type: TABLE; Schema: public; Owner: vertexlearn
--

CREATE TABLE public.lectures (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    module_id uuid,
    title character varying(200) NOT NULL,
    video_url text,
    transcript text,
    duration_seconds integer,
    order_index integer NOT NULL,
    resource_urls text[]
);


ALTER TABLE public.lectures OWNER TO vertexlearn;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: vertexlearn
--

CREATE TABLE public.modules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid,
    title character varying(200) NOT NULL,
    order_index integer NOT NULL
);


ALTER TABLE public.modules OWNER TO vertexlearn;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: vertexlearn
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(30) NOT NULL
);


ALTER TABLE public.roles OWNER TO vertexlearn;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: vertexlearn
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO vertexlearn;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vertexlearn
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: vertexlearn
--

CREATE TABLE public.user_roles (
    user_id uuid NOT NULL,
    role_id integer NOT NULL
);


ALTER TABLE public.user_roles OWNER TO vertexlearn;

--
-- Name: users; Type: TABLE; Schema: public; Owner: vertexlearn
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    full_name character varying(150) NOT NULL,
    email character varying(180) NOT NULL,
    password_hash character varying(255) NOT NULL,
    avatar_url text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO vertexlearn;

--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: vertexlearn
--

COPY public.courses (id, instructor_id, title, description, category, difficulty, thumbnail_url, price, status, created_at) FROM stdin;
\.


--
-- Data for Name: lectures; Type: TABLE DATA; Schema: public; Owner: vertexlearn
--

COPY public.lectures (id, module_id, title, video_url, transcript, duration_seconds, order_index, resource_urls) FROM stdin;
\.


--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: vertexlearn
--

COPY public.modules (id, course_id, title, order_index) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: vertexlearn
--

COPY public.roles (id, name) FROM stdin;
1	student
2	instructor
3	admin
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: vertexlearn
--

COPY public.user_roles (user_id, role_id) FROM stdin;
2a0c7875-8bac-474c-a5c1-7d61a597b235	1
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: vertexlearn
--

COPY public.users (id, full_name, email, password_hash, avatar_url, is_active, created_at, updated_at) FROM stdin;
2a0c7875-8bac-474c-a5c1-7d61a597b235	Harini	harini@example.com	$2b$10$pgBf7PaKdBzxOIOgGPatluT/iS3DF2nycJ4LP78rM2R5KVEe.oUQ2	\N	t	2026-08-14 18:29:25.024719+00	2026-08-14 18:29:25.024719+00
\.


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: vertexlearn
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: lectures lectures_pkey; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.lectures
    ADD CONSTRAINT lectures_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_new_email_key; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_new_email_key UNIQUE (email);


--
-- Name: users users_new_pkey; Type: CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_new_pkey PRIMARY KEY (id);


--
-- Name: courses courses_instructor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_instructor_id_fkey FOREIGN KEY (instructor_id) REFERENCES public.users(id);


--
-- Name: lectures lectures_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.lectures
    ADD CONSTRAINT lectures_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: modules modules_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vertexlearn
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict gDcMsypRNENt2RQSLjKFoyzIHniqp0xOIvUHC3gxXUK0juUmDFX6XAkbtjvJcJ5

